// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'mixin';
@import 'header';
@import 'footer';
@import 'form';

.display-flex-responsive {
  display: flex;
  @include sp {
    display: block;
  }
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}