// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// vuetify
@import 'vuetify/dist/vuetify.min.css';

@import 'mixin';
@import 'header';
@import 'footer';
@import 'form';
@import 'custom_vuetify';

h2,
ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.display-flex-responsive {
  display: flex;
  @include sp {
    display: block;
  }
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}
